./Pinecone_videos
Pinecone_videos/3 Traditional Methods for Similarity Search (Jaccard, w-shingling, Levenshtein).mp3
Pinecone_videos/3 Vector-based Methods for Similarity Search (TF-IDF, BM25, SBERT).mp3
Pinecone_videos/6 of Python's Newest and Best Features (3.7-3.9).mp3
Pinecone_videos/Adding New Doc Stores to Haystack.mp3
Pinecone_videos/Advanced Sentiment Analysis with NLP Transformers + Vector Search.mp3
Pinecone_videos/AlexNet and ImageNet Explained.mp3
Pinecone_videos/All You Need to Know on Multilingual Sentence Vectors (1 Model, 50+ Languages).mp3
Pinecone_videos/Angular App Setup With Material - Stoic Q&A \#5.mp3
Pinecone_videos/API Series \#2 - Building an API with Flask in Python.mp3
Pinecone_videos/API Series \#3 - How to Deploy Flask APIs to the Cloud (GCP).mp3
Pinecone_videos/AugSBERT： Domain Transfer for Sentence Transformers.mp3
Pinecone_videos/Bag of ＊Visual＊ Words for Image Classification and Retrieval.mp3
Pinecone_videos/BERTopic Explained.mp3
Pinecone_videos/Best Indexes for Similarity Search in Faiss.mp3
Pinecone_videos/Build a Custom Transformer Tokenizer - Transformers From Scratch \#2.mp3
Pinecone_videos/Build NLP Pipelines with HuggingFace Datasets.mp3
Pinecone_videos/Building a PlotLy $GME Chart in Python.mp3
Pinecone_videos/Building MLM Training Input Pipeline - Transformers From Scratch \#3.mp3
Pinecone_videos/Building Transformer Tokenizers (Dhivehi NLP \#1).mp3
Pinecone_videos/Chatbot Memory for Chat-GPT, Davinci + other LLMs - LangChain \#4.mp3
Pinecone_videos/Choosing Indexes for Similarity Search (Faiss in Python).mp3
Pinecone_videos/Cohere AI's LLM for Semantic Search in Python.mp3
Pinecone_videos/Cohere vs. OpenAI embeddings — multilingual search.mp3
Pinecone_videos/Composite Indexes and the Faiss Index Factory.mp3
Pinecone_videos/Convolutional Neural Nets Explained and Implemented in Python (PyTorch).mp3
Pinecone_videos/Evaluation Measures for Search and Recommender Systems.mp3
Pinecone_videos/Every New Feature in Python 3.10.0a2.mp3
Pinecone_videos/Extractive Q&A With Haystack and FastAPI in Python.mp3
Pinecone_videos/Faiss - Introduction to Similarity Search.mp3
Pinecone_videos/Faiss - Vector Compression with PQ and IVFPQ (in Python).mp3
Pinecone_videos/Fast intro to multi-modal ML with OpenAI's CLIP.mp3
Pinecone_videos/Fast Zero Shot Object Detection with OpenAI CLIP.mp3
Pinecone_videos/Fine-tune High Performance Sentence Transformers (with Multiple Negatives Ranking).mp3
Pinecone_videos/Fine-tune Sentence Transformers the OG Way (with NLI Softmax loss).mp3
Pinecone_videos/FREE 11 Hour NLP Transformers Course (Next 3 Days Only).mp3
Pinecone_videos/Functional API - TensorFlow Essentials \#2.mp3
Pinecone_videos/Generative AI and Long-Term Memory for LLMs (OpenAI, Cohere, OS, Pinecone).mp3
Pinecone_videos/Generative Question-Answering with OpenAI's GPT-3.5 and Davinci.mp3
Pinecone_videos/Getting Started with GPT-3 vs. Open Source LLMs - LangChain \#1.mp3
Pinecone_videos/GUI-based Few Shot Classification Model Trainer ｜ Demo.mp3
Pinecone_videos/HNSW for Vector Search Explained and Implemented with Faiss (Python).mp3
Pinecone_videos/How I work from anywhere with the best tools for remote work.mp3
Pinecone_videos/How LSH Random Projection works in search (+Python).mp3
Pinecone_videos/How to Build a Bert WordPiece Tokenizer in Python and HuggingFace.mp3
Pinecone_videos/How to build a Q&A AI in Python (Open-domain Question-Answering).mp3
Pinecone_videos/How to build a Q&A Reader Model in Python (Open-domain QA).mp3
Pinecone_videos/How to Build an AI-Powered Video Search App.mp3
Pinecone_videos/How to Build Custom Q&A Transformer Models in Python.mp3
Pinecone_videos/How to build next-level Q&A with OpenAI.mp3
Pinecone_videos/How to Build Python Packages for Pip.mp3
Pinecone_videos/How to Build Q&A Models in Python (Transformers).mp3
Pinecone_videos/How to Build TensorFlow Pipelines with tf.data.Dataset.mp3
Pinecone_videos/How to Index Q&A Data With Haystack and Elasticsearch.mp3
Pinecone_videos/How to Learn (a lot).mp3
Pinecone_videos/How to Learn Data Science ｜ ML ｜ Programming.mp3
Pinecone_videos/How to learn NLP for free for beginners.mp3
Pinecone_videos/How to use Color Histograms for Image Retrieval.mp3
Pinecone_videos/How to Use OpenAI Whisper to Fix YouTube Search.mp3
Pinecone_videos/How to Use Type Annotations in Python.mp3
Pinecone_videos/How-to Build a Transformer for Language Classification in TensorFlow.mp3
Pinecone_videos/How-to Decode Outputs From NLP Models (Python).mp3
Pinecone_videos/How-to do Sentiment Analysis with Flair in Python.mp3
Pinecone_videos/How-to Structure a Q&A ML App.mp3
Pinecone_videos/How-to Use HuggingFace's Datasets - Transformers From Scratch \#1.mp3
Pinecone_videos/How-to use the Kaggle API in Python.mp3
Pinecone_videos/How-to Use The Reddit API in Python.mp3
Pinecone_videos/Hugging Face Datasets \#1 ｜ Hosting Your Datasets (for Beginners).mp3
Pinecone_videos/Hugging Face Datasets \#2 ｜ Dataset Builder Scripts (for Beginners).mp3
Pinecone_videos/Hugging Face Datasets \#3 ｜ Adding Images.mp3
Pinecone_videos/Hybrid Search Walkthrough in Pinecone.mp3
Pinecone_videos/Identify Stocks on Reddit with SpaCy (NER in Python).mp3
Pinecone_videos/Implementing Filters in the New Haystack Doc Store.mp3
Pinecone_videos/IndexLSH for Fast Similarity Search in Faiss.mp3
Pinecone_videos/Input Data Pipelines - TensorFlow Essentials \#4.mp3
Pinecone_videos/Intro to APIs in Python - API Series \#1.mp3
Pinecone_videos/Intro to Dense Vectors for NLP and Vision.mp3
Pinecone_videos/Intro to Sentence Embeddings with Transformers.mp3
Pinecone_videos/Is GPL the Future of Sentence Transformers？ ｜ Generative Pseudo-Labeling Deep Dive.mp3
Pinecone_videos/Language Generation with OpenAI's GPT-2 in Python.mp3
Pinecone_videos/LLM Chains using GPT 3.5 and other LLMs — LangChain \#3.mp3
Pinecone_videos/Locality Sensitive Hashing (LSH) for Search with Shingling + MinHashing (Python).mp3
Pinecone_videos/Long Form Question Answering (LFQA) in Haystack.mp3
Pinecone_videos/Making The Most of Data： Augmented SBERT.mp3
Pinecone_videos/Medical Search Engine with SPLADE + Sentence Transformers in Python.mp3
Pinecone_videos/Metadata Filtering for Vector Search + Latest Filter Tech.mp3
Pinecone_videos/Multi-Class Language Classification With BERT in TensorFlow.mp3
Pinecone_videos/NER Powered Semantic Search in Python.mp3
Pinecone_videos/NER With Transformers and spaCy (Python).mp3
Pinecone_videos/New Features in Python 3.10.mp3
Pinecone_videos/New GPU-Acceleration for PyTorch on M1 Macs\! + using with BERT.mp3
Pinecone_videos/Novice to Advanced RegEx in Less-than 30 Minutes + Python.mp3
Pinecone_videos/Open Source Generative AI in Question-Answering (NLP) using Python.mp3
Pinecone_videos/OpenAI CLIP Explained ｜ Multi-modal ML.mp3
Pinecone_videos/OpenAI GPT 3.5 AI assistant with Langchain + Pinecone \#1.mp3
Pinecone_videos/OpenAI's ChatGPT API in Python first look.mp3
Pinecone_videos/OpenAI's CLIP for Zero Shot Image Classification.mp3
Pinecone_videos/OpenAI's New GPT 3.5 Embedding Model for Semantic Search.mp3
Pinecone_videos/Pinecone's New ＊Hybrid＊ Search - the future of search？.mp3
Pinecone_videos/Product Quantization for Vector Similarity Search (+ Python).mp3
Pinecone_videos/Prompt Engineering with OpenAI's GPT-3 and other LLMs.mp3
Pinecone_videos/Prompt Templates for GPT 3.5 and other LLMs - LangChain \#2.mp3
Pinecone_videos/Python Environment Setup for Machine Learning.mp3
Pinecone_videos/Q&A Document Retrieval With DPR.mp3
Pinecone_videos/Question-Answering in NLP (Extractive QA and Abstractive QA).mp3
Pinecone_videos/Sentence Similarity With Sentence-Transformers in Python.mp3
Pinecone_videos/Sentence Similarity With Transformers and PyTorch (Python).mp3
Pinecone_videos/Sentiment Analysis on ANY Length of Text With Transformers (Python).mp3
Pinecone_videos/Sequential Model - TensorFlow Essentials \#1.mp3
Pinecone_videos/SPLADE： the first search model to beat BM25.mp3
Pinecone_videos/Spotify's Podcast Search Explained.mp3
Pinecone_videos/Stoic Philosophy Text Generation with TensorFlow.mp3
Pinecone_videos/Streamlit for ML \#1 - Installation and API.mp3
Pinecone_videos/Streamlit for ML \#2 - ML Models and APIs.mp3
Pinecone_videos/Streamlit for ML \#3 - Make Apps Fast with Caching.mp3
Pinecone_videos/Streamlit for ML \#4 - Adding Bootstrap Components.mp3
Pinecone_videos/Streamlit for ML \#5.1 - Custom React Components in Streamlit Setup.mp3
Pinecone_videos/Streamlit for ML \#5.2 - MUI Card Component Build.mp3
Pinecone_videos/Streamlit for ML \#5.3 - Publishing Components to Pip.mp3
Pinecone_videos/Supercharge eCommerce Search： OpenAI's CLIP, BM25, and Python.mp3
Pinecone_videos/Table Question-Answering with TAPAS in Python.mp3
Pinecone_videos/Testing the New Haystack Doc Store.mp3
Pinecone_videos/Text Summarization with Google AI's T5 in Python.mp3
Pinecone_videos/The NEW Match-Case Statement in Python 3.10.mp3
Pinecone_videos/Today Unsupervised Sentence Transformers, Tomorrow Skynet (how TSDAE works).mp3
Pinecone_videos/Train Sentence Transformers by Generating Queries (GenQ).mp3
Pinecone_videos/Training and Testing an Italian BERT - Transformers From Scratch \#4.mp3
Pinecone_videos/Training BERT \#1 - Masked-Language Modeling (MLM).mp3
Pinecone_videos/Training BERT \#2 - Train With Masked-Language Modeling (MLM).mp3
Pinecone_videos/Training BERT \#3 - Next Sentence Prediction (NSP).mp3
Pinecone_videos/Training BERT \#4 - Train With Next Sentence Prediction (NSP).mp3
Pinecone_videos/Training BERT \#5 - Training With BertForPretraining.mp3
Pinecone_videos/Training Parameters - TensorFlow Essentials \#3.mp3
Pinecone_videos/Unicode Normalization for NLP in Python.mp3
Pinecone_videos/Using Semantic Search to Find GIFs.mp3
Pinecone_videos/Vision Transformers (ViT) Explained + Fine-tuning in Python.mp3
Pinecone_videos/Why are there so many Tokenization methods in HF Transformers？.mp3
Pinecone_videos/🤗 Hugging Face just released ＊Diffusers＊ - for models like DALL-E 2 and Imagen\!.mp3
